@charset "gb2312";
/* 课程简介 */
.con_content
{
    background: url(../Picture/r_line.jpg) repeat-y 190px 0
}
.about_box
{
    width: 780px;
    float: right;
    margin-top: 10px
}
.about_content
{
    line-height: 24px;
    font-size: 14px;
    padding: 20px
}
.about_content p
{
    margin-bottom: 15px;
    text-indent: 2em
}
.nh1
{
    line-height: 31px;
    height: 31px;
    font-size: 14px;
    border-bottom: #689014 2px solid
}
.nh1 span
{
    float: right;
    font-size: 12px;
    color: #666;
}
.nh1 span a
{
    color: #666;
    margin: 0 5px
}
.nh1 span a:hover
{
    color: #000
}
.con_left { width: 170px; float: left; margin-top: 10px; background: url(../images/tz.png) no-repeat }
.con_left ul { margin-top: 36px }
.con_left ul li { height: 40px; line-height: 40px; text-align: center; background: #f1f1f1; margin-bottom: 1px; border-bottom: #c7c7c7 1px solid }
.con_left ul li a { color: #333; display: block; }
.con_left ul li a:hover { background: #821614; color:  #f1f1f1}
/* 企业动态 */
.news_list { margin: 10px 0; overflow:hidden}
.news_list li { background: url(../Picture/jt2.jpg) no-repeat left center; ; padding-left: 20px; line-height: 26px; font-size: 14px }
.news_list li span { float: right; color: #999; font-size: 12px }
.news_list li a { color: #333 }
.news_list li a:hover { color: #f00; text-decoration: underline }
/* 分页 */
.pagelist { text-align: center; color: #666; width:100%; clear:both; margin:10px 0}
.pagelist a { color: #666; margin: 0 2px }
.pagelist a:hover { color: #f00; text-decoration: underline }

.case_list{ overflow:hidden; margin:20px 0}
.case_list li{ float:left; width:212px; display:block; height:242px; margin:2px 15px}
.case_list img{ width:200px; height:200px; padding:5px; border:#CCC 1px solid}
.case_list li a span{ line-height:26px; height:26px; width:100%; display:block; text-align:center; color:#FFF}
.case_list li:hover{ background:#ccc}